# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../http-web-basic\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\bmkim\IdeaProjects\http-web-basic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
